# copy this file and rename as .env
ORACLE_USERNAME=username
ORACLE_PASSWORD=password
ORACLE_HOSTNAME=ip_address
ORACLE_PORT=1521
ORACLE_SERVICE=service_name
LOG_LEVEL=INFO

# report settings
RUN_TARGET_SQL=true
AGED_POOL_TABLE=t_inq_v4_aged_pool
REPORT_DIR=reports
REPORT_MONTH=
REPORT_START_MONTH=202504
SCORE_HIGHER_IS_BETTER=true
